[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/example42/puppet-apache
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/example42/puppet-mysql
