[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/example42/puppet-apache
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/example42/puppet-mysql
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/example42/puppet-nginx
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = https://github.com/rafaelfelix/puppet-pear.git
[submodule "puppet/modules/phpqatools"]
	path = puppet/modules/phpqatools
	url = https://github.com/rafaelfelix/puppet-phpqatools.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/saz/puppet-php.git
