// Vendor Files
@import 'settings/settings';
@import 'foundation';

@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-video;
@include foundation-table;