grunt.loadNpmTasks('grunt-contrib-watch');

grunt.initConfig({
  sass: {
    dev: {
      src: [
      	'vendor/components/normalize.css/normalize.css', 
      	'vendor/zurb/foundation/scss/foundation.scss', 
      	'webroot/css/cake.css',
      	'webroot/css/home.css',
      	'webroot/sass/*.sass'
      ],
      dest: 'webroot/css/main.css',
    },
  },
  uglify: {
    options: {
      mangle: false
    },
    my_target: {
      files: {
        'webroot/js/cakephp.min.js': 
        	[
        	'webroot/js/custom.js',
        	'cakephp/vendor/zurb/foundation'

        	]
      }
    }
  }
  watch: {
    sass: {
      // We watch and compile sass files as normal but don't live reload here
      files: ['webroot/scss/*.sass'],
      tasks: ['sass'],
    },
    livereload: {
      // Here we watch the files the sass task will compile to
      // These files are sent to the live reload server after sass compiles to them
      options: { livereload: true },
      files: ['webroot/**/*'],
    },
  },
});